@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

:root {
  --color-primary: #EFCB68;
  --color-secondary: #003844;
  --color-light: #F7F7F7;
  --color-dark: #000411;
  --color-muted: #aeb7b3;
  --color-muted-bis: rgba(174, 183, 179, 0.5);

  --font-primary: 'Ubuntu', sans-serif;
  --font-secondary: 'Square Peg', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
  color: var(--color-light);
}

body, html {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  background: var(--color-secondary);
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}



header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header #navbar {
  z-index: 1;
  position: fixed;
  width: 94%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header #navbar .logo {
  font-size: 2rem;
}

header #navbar .menu {
  display: flex;
  flex-direction: row;
  list-style: none;
}

header #navbar .menu .item {
  font-size: 1.2rem;
  font-weight: 400;
  transition: all 300ms ease;
}

header #navbar .menu .item:hover {
  color: var(--color-primary);
}

header #navbar .menu .item.back {
  display: none;
}

header #navbar.scroll-active .menu .item.discover {
  display: none;
}

header #navbar.scroll-active .menu .item.back {
  display: block;
}

header #hero-banner {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease;
}

header #hero-banner .title {
  font-size: 7rem;
  font-weight: 400;
}

header #hero-banner .title span {
  font-family: var(--font-secondary);
  font-size: 12rem;
  color: var(--color-primary);
}

header #hero-banner .subtitle {
  font-size: 2.5rem;
  font-weight: 100;
  margin-top: -1rem;
}

header #hero-banner .subtitle.bis {
  margin: 0;
}

header #hero-banner.scroll-active {
  opacity: 0;
}



main {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 6rem 3%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 2rem;
}

main .card {
  background: var(--color-light);
  width: 15rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  border-radius: 1.5rem;
  transition: all 300ms ease;
}

main .card:hover {
  box-shadow: 0 0 5rem -2rem var(--color-primary);
}

main .card.muted {
  background: transparent;
  border: 5px dashed var(--color-muted-bis);
}

main .card:hover.muted {
  box-shadow: none;
}

main .card .title {
  font-size: 1.6rem;
  color: var(--color-dark);
}